<div class="list">
<div class="row">
    <div class="col">
        <div class="form-group">
            <label>Name</label>
            <p>{{allData.name}}</p>
        </div>
        <div class="form-group">
            <label>Designation</label>
            <p>{{allData.designation}}</p>
        </div>
        <div class="form-group">
            <label>Technology</label>
            <p>{{allData.technology}}</p>
        </div>
    </div>
    <div class="col">
        <div class="form-group">
            <label>Skills</label>
            <p>{{allData.skills}}</p>
        </div>
        <div class="form-group">
            <label>Availability</label>
            <p>{{allData.availability}}</p>
        </div>
        <div class="form-group">
            <label>Base Location</label>
            <p>{{allData.location}}</p>
        </div>
    </div>
    <div class="col">
        <div class="form-group">
            <label>Open to Relocate</label>
            <p>{{allData.relocate}}</p>
        </div>
        
    </div>
</div>
    <div class="form-group">
    <label>Message</label><br>
    <textarea name="message" rows="6"></textarea>
</div>
</div>
