<!-- navbar start -->
<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: rgb(16, 16, 77); padding: 10px;">
  <a class="navbar-brand" href="#" style="margin-left: 70px;">Mployee</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto" style="margin-left: 80px;">
      <li class="nav-item ">
        <a class="nav-link" href="#">Dashboard</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="#">Relocate</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" href="#">Directory</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Project</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Technology</a>
        </li>
    </ul>
    <div class="form-inline my-2 my-lg-0" style="margin-right: 70px;">
      <input class="form-control search-bar" type="search" placeholder="Search" [(ngModel)]="allSearch" aria-label="Search">
      <a href="#" class="btn btn-light" style="border-radius: 0px; 
                                     height: 30px; 
                                     padding-top: 2px;
                                     background-color: rgb(82, 2, 71);
                                     color: white;
                                     border: 1px solid rgb(201, 64, 182);"><i class="fa fa-search" aria-hidden="true"></i></a>
    </div>
  </div>
</nav>
<!-- navbar end -->
<!-- layout start -->
<div class="row" style="margin: 0px; padding: 0px;">
<!-- sidelayout start -->
<div class="col-md-3" style="background-color: white;">
  <p style="font-style: italic; 
            color: rgb(13, 60, 131); 
            font-weight: bold;
            margin: 20px 0px 0px 5px;">Filter By</p>
<form class="form-set" [formGroup]="form" (ngSubmit)="onSubmit()">
<div class="bg-set">
  <div class="form-group">
<label style="font-weight: 500;" for="technology">Technology</label>
<ejs-multiselect formControlName="technology" 
id='localData' #local [dataSource]='technologies' 
[fields]='localFieldstwo' [placeholder]='localWaterMarktwo'>
</ejs-multiselect>
  </div>
<div class="form-group">
  <label style="font-weight: 500;" for="skills">Skills</label>
       <ejs-multiselect formControlName="skills"
        id='localData' #local [dataSource]='skills' 
        [fields]='localFieldsthree' [placeholder]='localWaterMarkthree'>
       </ejs-multiselect>
  </div>
  <div class="form-group">
      <label style="font-weight: 500;" for="exprience">Total Exprience</label><p style="margin-left: 82%;">Total.{{sliderVal.value}}</p>
      <input style="width: 100%;" type="range" class="form-range" #sliderVal min="1" max="20" formControlName="exprience">
      <label class="form-label" for="customRange2">Example range</label>
  </div>
  <div class="form-group">
      <label style="font-weight: 500;" for="location">Location</label>
      <ejs-multiselect formControlName="location"
           id='localData' #local [dataSource]='location' 
           [fields]='localFieldsfive' [placeholder]='localWaterMarkfive'>
           </ejs-multiselect>
    </div>
      <div class="form-inline" style="margin: 30px 0px 0px 48%;">
          <a href="#" class="btn btn-cancel">Cancel</a>
          <button type="submit" class="btn btn-done">Done</button>
      </div>
      <div class="text">
          <p>Based on the filters selected the employees data should be filterd.
              Once 'Done' button is clicked and Cancel should rest the selection.
          </p>
      </div>
    </div>
  </form>
</div>
<!-- sidelayout end -->
<!-- mainlayout start -->
<div class="col-md-9">
  <div class="set-mainbar">
    <p style="text-align: right; margin-top: 10px; color: teal;">Dashboard/Relocate/<strong>Employee List</strong></p>
    <p>Search the right candidate form below list!</p>
    <div class="action-btn">
        <p style="color: rgb(8, 110, 150);">Employee List</p>
        <a href="#" class="btn btn-add" data-toggle="modal" data-target="#exampleModal">Add</a>
        <a style="cursor: pointer;" (click)="employeeDelete()" class="btn btn-delete">Delete</a>
    </div>
<table class="table table-light">
    <thead>
      <tr>
        <th scope="col"><input type="checkbox" *ngIf="off"></th>
        <th scope="col">Name</th>
        <th scope="col">Designation</th>
        <th scope="col">Technology</th>
        <th scope="col">Skills</th>
        <th scope="col">Availability</th>
        <th scope="col">Base Location</th>
        <th scope="col">Open Relocate</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of allEmployees | filter:allSearch">
        <th><input type="checkbox" *ngIf="off" (click)="onClick(item.id)"></th>
        <td>{{item.name}}</td>
        <td>{{item.designation}}</td>
        <td>{{item.technology}}</td>
        <td>{{item.skills}}</td>
        <td>{{item.availability}}</td>
        <td>{{item.location}}</td>
        <td>{{item.relocate}}</td>
        <td><a routerLink="/home/detail/{{item.id}}" class="btn btn-detail" data-toggle="modal" data-target="#employeeDetail">Detail</a></td>
      </tr>
      
    </tbody>
  </table>
</div>
<!-- Modal for add employee-->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header" style="background-color: rgb(143, 8, 143); color: white; padding: 15px;">
        <h1 class="modal-title" id="exampleModalLabel" style="font-style: italic;">Add Employee</h1>
        <button type="button" routerLink="/home" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true" style="color: white;">&times;</span>
        </button>
      </div>
      <div class="modal-body" style="padding: 25px;">
        <app-addemployee></app-addemployee>
      </div>
    </div>
  </div>
</div>

<!-- Modal for employee detail-->
<div class="modal fade" id="employeeDetail" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header" style="background-color:rgb(111, 3, 121); color: white;">
        <h1 class="modal-title" id="exampleModalLabel" style="font-weight: 500; font-style: italic;">Employee Detail</h1>
        <button type="button" routerLink="/home" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true" style="color: white;">&times;</span>
        </button>
      </div>
      <div class="modal-body">
       <router-outlet></router-outlet>
      </div>
      <div class="modal-footer" style="background-color: rgb(238, 238, 238);">
        <a routerLink="/home" class="btn form-btn" data-dismiss="modal">Close</a>
        <a routerLink="/home" class="btn form-btn" data-dismiss="modal">Done</a>
      </div>
    </div>
  </div>
</div>
</div>
<!-- mainlayout end -->
</div>
<!-- layout end -->






  