label{
    font-weight: 500;
}
/* for input */
.name-input{
    border: 0;
	padding: 5px 0;
    font-size: 11px;
	border-bottom: 1px solid rgb(138, 138, 138);
    width: 100%;
    outline: 0;
}
.name-input~.focus-border {
	position: absolute;
	bottom: 0px;
	left: 50%;
	width: 0;
	height: 2px;
	background-color: rgb(219, 40, 40);
	transition: 0.4s;
}
 
.name-input:focus~.focus-border {
	width: 96%;
	transition: 0.4s;
	left: 5px;
}
/* for designation */
.select-designation{
    border: 0;
	padding: 6px 0;
    font-size: 13px;
	border-bottom: 1px solid rgb(138, 138, 138);
    width: 100%;
    outline: 0;
}
.select-designation~.focus-designation {
	position: absolute;
	bottom: 0px;
	left: 50%;
	width: 0;
	height: 2px;
	background-color: rgb(216, 17, 17);
	transition: 0.4s;
}
 
.select-designation:focus~.focus-designation {
	width: 96%;
	transition: 0.4s;
	left: 5px;
}
/* for availability */
.select-availability{
    border: 0;
	padding: 6px 0;
    font-size: 13px;
	border-bottom: 1px solid rgb(138, 138, 138);
    width: 100%;
    outline: 0;
}
.select-availability~.focus-availability {
	position: absolute;
	bottom: 4px;
	left: 50%;
	width: 0;
	height: 2px;
	background-color: rgb(228, 54, 54);
	transition: 0.4s;
}
 
.select-availability:focus~.focus-availability {
	width: 88%;
	transition: 0.4s;
	left: 15px;
}
/* for relocate */
.select-relocate{
    border: 0;
	padding: 7px 0;
    font-size: 13px;
	border-bottom: 1px solid rgb(138, 138, 138);
    width: 100%;
    outline: 0;
}
.select-relocate~.focus-relocate {
	position: absolute;
	bottom: 0px;
	left: 50%;
	width: 0;
	height: 2px;
	background-color: rgb(228, 54, 54);
	transition: 0.4s;
}
.select-relocate:focus~.focus-relocate {
	width: 96%;
	transition: 0.4s;
	left: 5px;
}
.form-btn{
    color: rgb(45, 20, 160);
    font-size: 17px;
    border: 1px solid rgb(45, 20, 160);
    width: 70px;
    height: 30px;
    padding-top: 2px;
    transition-duration: 0.4s;
}
.form-btn:hover{
    background-color: rgb(45, 20, 160);
    color: white;
}
.invalid-msg{
    color: rgb(228, 9, 9);
    margin-left: 10px;
}
.valid-msg{
    color: rgb(22, 190, 7);
    margin-left: 10px;
}



